<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"><h1><%= link_to "b is for awesome", root_path %></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>links</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="name"><h1><a href="http://github.com/brettgrigsby"><i class="fi-social-github"></i></a></h1></li>
        <li class="name"><h1><a href="https://www.linkedin.com/in/brettgrigsby"><i class="fi-social-linkedin"></i></a></h1></li>
        <li class="name"><h1><a href="http://google.com/+BrettGrigsby"><i class="fi-social-google-plus"></i></a></h1></li>
      </ul>
    </section>
  </nav>
</div>
