<div class="wrapper">
  <div class="spacer"></div>
  <div class="row">

    <div class="large-8 medium-4 columns">
      <div class="spacer"></div>
      <div class="right myname">
        <h1>brett grigsby</h1>
      </div>
    </div>

    <div class="large-4 medium-4 columns">
      <%= image_tag "headshot.jpg", class: "th", id:"ppic" %>
    </div>

  </div>
  <div class="spacer"></div>
  <div class="row">
    <div class="large-6 medium-6 columns end">
      <div class="panel blurb">
        <h3>classic man:</h3>
        <p>Our Brett is made from 100% cheeto-fed Grigsby. There is no substitute.</p>
        <h4>info corner:</h4>
        <p>Did you know that Brett is stronger than 4 toddlers? tmyk</p>
      </div>
    </div>
  </div>

  <div class="row">

  </div>
</div>
